body{
    padding: 0;
    margin: 0;
    height: auto;
    
}
.mainBody{
    display: flex;
    height: auto;
    
}
.sideBar{
    background-color: white;
    width: 100px;
    height: auto;
}
.header{
    position:relative;
    margin:30px 50px 50px 40px;
}
.block{
    display: flex;
    justify-content: space-between;
}
.addProduct{
    width: 100%;
    height: 300vh;
    background-color: rgb(240, 247, 247);
}

.button1{
    width: 80px;
    height: 40px;
    border: solid 1px;
    border-radius: 5px;
    font-weight: bold;
}
.add{
    background-color: black;
    color: white;
}
.Cancel{
    background-color: white;
}
.listButton{
    display: flex;
    gap:30px;
}
.Left{
    width: 60%;
    height: 70vh;
    border-radius: 20px;
}
.information{
    background-color: white;
    width: 100%;
    border-radius: 20px;
}
.Right{
    width: 45%;
    height: 80vh;
    border-radius: 20px;
}
.main{
    display: flex;
    gap:2%;
    padding: 0px 10px 20px 20px;
}
.up{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 20vh;
    border-radius: 20px;
}
.down{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    border-radius: 20px;
    margin-top: 10px;
}
input{
    margin-top: 10px;
    width: 95%;
    border-radius: 5px;
    border: 2px thick;
}
.form{
    padding: 20px 10px 20px 30px;
    height: 500px;
}
Select{
    width: 95%;
    margin-top: 10px;
}
.imageItems{
    background-color: white;
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    margin-top: 10px;
}
.upload-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.imageItems{
    height: auto;
}
.custom-label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.custom-input {
    display: none;
}

#preview-image {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}
.price{
    background-color: white;
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    margin-top: 10px;
}
.blockPrice{
    margin-top: 30px;
    display: flex;
    gap:10px;
}
.SizeandColor{
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
}
.editChange{
    margin-top: 20px;
}
.editColor{
    display: none;
}

.upload-container img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	position: relative;
}

.upload-container .img_element{
	position: relative;
}

.upload-container .img_element div{
	position: absolute;
	bottom: 0;
	padding: 5px;
	background-color: #fff;
	color: #000;
	z-index: 1;
	opacity: 0.3;
	
}

.upload-container .img_element .btnXoa{
	left:  0;
}

.upload-container .img_element .btnPreview{
	right: 0;
}

.upload-container .img_element div:hover{
	background-color: #000;
	color: #fff;
	cursor: pointer;
	opacity: 1;
}


.upload-container label{
	width: 100px;
	height: 100px;
	padding: 25px;
	border: 1px dashed #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.popup{
	width: 400px;
	height: 400px;
	background-color: white;
	padding: 50px;
	
}
.overlay img{
	opacity: 1;
	width: 50%;
	height: auto;
	object-fit: cover;
}

.table td{
	vertical-align: middle;
	text-align: center;
	border: 1px solid #000;
}

.table th{
	text-align: center;
}
.box{
    display: flex;
    gap:10px;
   	align-items: center;
}

a{
    color: black;
}
.size{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.btnColor{
	border: 1px solid !important;
	width: 50px;
	height: 50px;
}
.btnSize{
	border: 1px solid !important;
	width: 50px;
	height: 50px;
	
}
.colorDiv{
	display:none;
}
.selected{
	width: 70px;
	height: 70px;
}
.selected1{
	width: 70px;
	height: 70px;
}
.btnAdd{
	border: 1px dashed #000;
	width: 50px;
	height: 50px;
	background-color: white;
}
.selectItem{
	display: flex;
	gap: 10px;
}
#thong_tin_chi_tiet{
	width: 100%;
	height: 200px;
}
.fixcontent{
	align-items: center;
	gap: 2%;
	margin-top:50px;
	display: flex;
}
.create{
	background-color: black;
	color:white;
	width: 70px;
	border-radius: 7px;
}
.xoaRow{
	background-color: black;
	color:white;
	border-radius: 7px;
}
.imgItems{
	display: flex;
	gap:1%;
	align-items: center;
	justify-content: center;	
}
.themMuc{
	background-color: black;
	color:white;
	border-radius: 7px;
}