@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}
a{
    text-decoration: none;
    color: black;
}

body{
    background-color: white;
}	

.nav-link{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.search{
    width: 100%;
}

.main-items{
    display: flex;
    max-width: 100%;
    gap:20px;
    flex-wrap: wrap;
    margin: 20px 20px 20px 20px;
    margin-left: 60px;
}
.star{
    display: flex;
    gap:10px;
}
.number-report{
    transform: translateY(-5px);
}
.card-img-top:hover{
	transform: scale(0.9);
	transition:0.2s;
}
.nav-item:hover{

	color: orange;	
}
.header{
	position: fixed;
}
button{
	background-color: white;
	border: none;
}