@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}
.footer{
    width: 100%;
    background-color: rgb(251, 238, 90);
    background: linear-gradient(to right, rgb(236, 236, 210), rgb(248, 235, 92));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
	text-decoration: none;
	color: black;
}

.container{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0,3);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 650px;
}
.container p{
    font-size: 15px;
}
.container span{
    font-size: 15px;
}
.container button{
    background-color: rgb(255, 171, 4);
    color: white;
    border-radius: 10px;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.container button.hidden{
    background-color:transparent;
    color: white;
}
.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.container input{
    background-color: #eee;
    border: none;
    outline: none;
    margin: 8px 0;
    padding: 10px 15px;
    width:100%;
    border-radius: 10px;
}
.form-{
    position: absolute;
    top:0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.active .sign-in{
    transform: translateX(100%);
}
.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}
.container-toggle{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
    border-radius: 150px 0 0 100px;
}
.container.active .container-toggle{
    transform: translateX(-100%);
    border-radius:  0 150px 100px 0;
}
.toggle{
    background-color: rgb(255, 145, 0);
    height: 100%;
    color: #fff;
    background: linear-gradient(to right, rgb(236, 175, 97), rgb(239, 136, 0));
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;

}
.container.active .toggle{
    transform: translateX(50%)
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
    top:0;
    text-align: center;
    transition: all 0.6s ease-in-out;

}
.toggle-left{
    transform: translateX(-200%);
}
.container.active .toggle-left{
    transform: translateX(0);
}
.toggle-right{
    right: 0;
    transform: translateX(0);
}
.container.active .toggle-right{
    transform: translateX(200%);
}