@charset "ISO-8859-1";
body {
    background: #f5f5f5;
    margin-top: 20px;
}
a{
	text-decoration: none;
	color: black;
}
.ui-w-80 {
    width : 120px ;
    height: auto;
}
.account-settings-fileinput{
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
    background-color: orange;
    border: none;
}
.account-settings-linkss .list-group-item.active {
    font-weight: bold !important;
    background-color: rgb(253, 235, 202);
    border: none;
}
.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
   
}
.checkBuy{
	width: 50px;
}
.gia{
	font-size: larger;
}
.buttonCancel{
	background-color: orange;
	color: white;
	border: none;
	width: 10%;
}
.mua{
	width: 100px;
	border: none;
	border-radius: 7px;
	background-color: orange;
	color: white;
	height: 40px;
}
.mainform{
    width: 100%;
    height: fit-content;
    padding: 50px;
}
.thongtin{
	width: 80% !important;
}
.remove{
	display: none !important;
}
.inforItems{
    display: flex;
    justify-content: space-between;
}
.card{
    padding: 25px;
}
.item-cart{
    display: flex;
    justify-content: space-between;
}
.img-infor{
    display: flex;
    width: 100%;
    gap: 2%;
}
.btnXoa{
    background-color: #F97066 !important;
    border: none !important;
    color: white !important;
    width: 200px !important;
}
.btnXoa:hover{
    background-color: red;
}
.price-amount{
    width: 20%;
}
.gia{
	display: flex;
	justify-content: space-between;	
}
.optionS{
    border: 1px thin ;
}
.thanhtoan{
    padding: 10px;
    margin-top: 1%;
    width: 100%;
    height: 20%;
    background-color: white;
}
.giatien{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1%;
}
.thanhtoan{
    display: flex;
    justify-content: space-between;
}
.buttonTT{
    width: 10%;
    background-color: black;
    color: white;
    border: none;

}
.submitDon{
	width: 220px !important;
}
.buttonTT:hover{
    background-color: #4e5155;
}
.inputClass{
	align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
#img{
	transform: translateX(50%);
}
.inputClass input{
    width: 40%;
    transform: translateX(-10%);
}
.buttonList{
    display: flex;
    margin-top: 5%;
    transform: translateX(74%);
    gap: 2%
}
.content-table{
    border: solid 1px thin orange;
    min-width: 400px;
    width: 100%;
   text-align: center;
}
.danhgia{
	width: 200px;
}
.content-table thead tr th{
    padding: 10px 15px;
    color: white;
    background-color: orange;
}
.content-table tbody tr td{
    padding: 10px 15px;
}

.content-table tr:hover{
	background-color: rgb(255, 231, 185);
	transition: 0.25s ease-in-out 0.1s;
	font-weight: bold;
}
.radio{
    display: flex;
    gap: 5%;
    transform: translateX(-230%);
}
	
.gender{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;

}
.cardImage{
	transform: translate(-260%);
}
.huy_don_hang{
	width:100%;
	background-color: orange !important;
	color: white !important;
	border: none !important;
}
.cardForm{
	transform: translateY(92px);
}