// seperator

$spacer: 1.75rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$gray-25: #fcfcfd;
$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$gray-200: #eaecf0;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-800: #1d2939;
$gray-900: #101828;
$black: #101828;

$primary: $black;
// $secondary:     $gray-600;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
$light: $gray-100;
$dark: $gray-900;
$body-bg: $gray-100;

$font-family-sans-serif: Sarabun, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$card-border-radius: 16px;
$card-bg: $gray-25;
$card-border-width: 0px;

$navbar-bg: $gray-25;
$navbar-height: 68px;
$body-padding: 40px;

//button

$btn-padding-y: 6px;
$btn-padding-x: 28px;
$btn-border-radius: 8px;
$btn-border-width: 2px;

//

body {
  height: 100%;
  overflow: hidden;
}

.content > .main {
  height: calc(100vh - $navbar-height);
  overflow-y: auto;
  padding: 0px $body-padding;
}

.navbar {
  background-color: $navbar-bg;
  align-self: self-start;
}
.navbar > .container > .container-fluid {
  padding: 0px $body-padding;
}

.wrapper {
  display: flex;
}

.wrapper > * {
  flex-grow: 1;
}

.card {
  margin-bottom: 28px;
}
.h1 {
  font-size: 48px;
  font-weight: bold;
}
.h2 {
  font-size: 40px;
  font-weight: bold;
}
.h3 {
  font-size: 32px;
  font-weight: bold;
}
.h4 {
  font-size: 28px;
  font-weight: bold;
}
.h5 {
  font-size: 24px;
  font-weight: bold;
}
.h6 {
  font-size: 20px;
  font-weight: bold;
}

.p {
  font-size: 16px;
}

.breadcrumb-item {
  a {
    color: $gray-400;
  }
  &.active {
    color: $gray-900;
  }
}

$form-label-font-size: 14px;
$form-label-font-weight: light;
$form-label-color: $gray-400;

$input-font-size: 14px;
$input-font-weight: light;
$input-font-color: $gray-50;
$input-border-radius: 8px;
$input-bg: $gray-200;

$input-focus-bg: $gray-100;
$input-focus-border-width: 10px;
$input-focus-box-shadow: $gray-900;

$input-placeholder-color: $gray-400;

$breadcrumb-font-size: 14px;
$breadcrumb-active-color: $gray-900;

//sep
.wrapper {
  overflow-x: hidden;
}

.sidecontainer {
  max-width: 212px;
  min-width: 212px;
  min-height: 100vh;
  flex: 0 0 auto;
}

.sidebar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $gray-25;
  padding: 20px 16px;
  gap: 16px;
}
.sidebar .head {
  display: flex;
  width: 100%;
  height: 88px;
}

.user-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
}

.menu .title {
  font-size: 16px;
  color: $gray-300;
  margin: 8px 4px;
}

.user-detail .name {
  font-size: 20px;
  font-weight: 500;
}

.menu .sidelist {
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu ul li {
  list-style: none;
  margin-bottom: 8px;
  display: flex;
  width: 100%;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 8px;
  border-radius: 8px;
  color: $gray-400;
  flex: 1;
}

.menu ul li:hover a {
  background-color: $gray-200;
  color: $black;
}

.menu ul li.active a {
  background-color: $primary;
  color: $gray-25;
}

.menu ul li a .bi {
  font-size: 20px;
  padding-right: 6px;
}

// Create your own map
@import "../node_modules/bootstrap/scss/bootstrap";
